//header
.header{
   background-color: $color-black;
 .navbar{
    @include dflexLayout;
    padding:12px 0;
    background-color: $color-black;
    }
   
     .brand{
       display: flex;
       align-items: center;
     }
     .banner{
      text-align: center;
      color: $color-white;
      
      &__img {
        position: relative;
      }
      &__txt {
         @include centering(60%);
         left:17%;
         z-index: 999;
         margin-top: 3rem;
         animation: fadeIn 5s;
         @keyframes fadeIn {
            0% { opacity: 0; }
            100% { opacity: 1; }
          }
       }
       img {
         width:100%;
       }
     }
}

//about
.about{
   background-color: $color-white;
   padding: 2rem 0;
   &-wrapper {
 @include dflexLayout;
      &__video-box {
          background: url('../images/about.jpg');
          width:40%;
          height:400px;
      }
      &__content {
         display: flex;
         flex-direction: column;
         justify-content: center;
         width:55%;
         h3 {
         font-weight: $font-regular;
         font-size: 34px;
         color: $color-gray;
         }
         p {
         font-size: 15px;
         color: $color-light-gray;
         margin-bottom:1rem;
         }
         ul li+li {
         margin-top: 15px;
         }
         ul li {
            padding-left: 26px;
         }
         
         &-para {
           margin-top:1rem;
         }
      }
   }
}

// menu 
.menu{
   &-wrapper{
       @include flexLayout;
       margin:2rem 0;

      &__active {
        background-color: $color-primary;
        color:$color-white;
      }
      &__btn {
         border-radius: 30px;
         margin-right:1rem;
      }
   }
   &-content {
      @include dflexLayout;
      text-align: left;
      a {
         color:$color-primary;
      }
   }
   &-item {
      text-align: left;
      width:40%;
      padding:0 2rem;
   }
   &-spacer {
      text-align: left;
      padding-top: 1rem;
   }
}

// gallery
.gallery {
   padding:2rem 0;
   &__title p {
      width:50%;
      margin: 0 auto 2rem auto;
      font-weight: 300;
   }
   &__inner {
      display: flex;
      align-items: center;
      padding:0 0 0.5rem 1rem;
   }
   &-item {
      width:24%;
      overflow: hidden;
      border-right: 3px solid $color-white;
      border-bottom: 3px solid $color-white;
      flex: 0 0 auto;
      &:not(:last-child){
      margin-right:0.5rem;
      }
      img {
        width:550px;
        height:320px;
        transition: all ease-in-out 0.4s;
    }
 }
}

//contact
.contact {
   &__title {
     @extend .gallery__title;
 }
}

// book a table 
.book-a-table {
   padding:2rem 0;
   &-title {
      text-align: center;
   }
   &__form {
      // box-shadow: 0 0 24px 0 rgb(0 0 0 / 12%);
      padding: 2rem 8rem;
      background: $color-white-form;
  }
}

// footer 
footer {
    background: $color-dark;
    color: $color-white;
    font-size: 14px;
    text-align: center;
    padding: 35px 0;
    
    &-title {
     color:$color-primary;
    }
    &__social-links {
       margin:1rem 0;
    }
    a {
       color: $color-primary;
    }

}