*{
  margin:0;
  padding: 0;
}
body{
  // background-color: $color-dark;
  font-family:$font-primary;
  box-sizing: border-box;
}
.container{
  padding-left:25px;
  padding-right:25px;
}
main {
background-color: $color-white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-heading;
}
h3 {
    font-size: 36px;
    font-weight: $font-bold;
    padding: 0;
    margin: 0 0 15px 0;
  span {
      color: $color-primary;
    }
  }

ul {
   list-style-type: none;
   margin: 0;
   padding: 0px;
   overflow: hidden;
 }
 
 li {
   float: left;
 }
 
 li a {
   display: block;
   color: $color-white;
   font-size:20px;
   text-align: center;
   padding: 10px 20px;
   text-decoration: none;
 }
 .active{
 background-color: $color-royal-blue;
 color: $color-white;
 }
 li a:hover {
   background-color: $color-primary;
   color: $color-white;
 }
